---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import "../styles/index.css";
import Header from "../components/Header.astro";
import Container from "../layouts/Container.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "Sunday Ready Solutions";
---

<BaseLayout pageTitle={pageTitle}>
	<Header />
	<section id="hero">
		<div class="bg-image-container">
			<Container class="">
				<h1 id="hero-headline" class="txt-lite hd-shadow white">
					Spend more time<br />
					on <span class="hl">minstry</span>,<br />
					and less on<br />
					<span class="hl">software</span>.
				</h1>
				<div id="hero-text-container">
					<p class="subhead hl hd-shadow">
						What can Planning Center do? A lot.
					</p>
					<p id="hero-body" class="txt-shadow txt-lite white">
						From data entry to automation, we make Planning Center simple, so
						you can lead with confidence.
					</p>
				</div>
				<Button
					id="hero-btn"
					text="Start your membership today!"
					padding="28px"
				/>
			</Container>
			<img
				src="/src/assets/church-sanctuary.jpg"
				alt="Church sanctuary background image"
				id="hero-bg"
			/>
		</div>
	</section>
	<section id="benefits">
		<Container className="benefits-container" id="benefits-intro">
			<h3 class="hd-shadow-lite">
				Planning Center Support<br /> To Keep Your Ministry<br /> Running Smoothly
			</h3>
			<p class="txt-shadow-lite">
				The administrative demands of running a church can quickly overwhelm a
				small staff. Get the support you need to stay organized and focused on
				ministry.
			</p>
		</Container>
		<Container className="benefits-container">
			<div class="benefits-icon">
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
					><path
						d="M6 20.5C7 11 11.5 8 20 6"
						stroke-linecap="round"
						stroke-linejoin="round"></path><path
						d="M15.9086 3.80941L20.3946 5.90126L18.3028 10.3873"
						stroke-linecap="round"
						stroke-linejoin="round"></path><path
						d="M5 7C6.10457 7 7 6.10457 7 5C7 3.89543 6.10457 3 5 3C3.89543 3 3 3.89543 3 5C3 6.10457 3.89543 7 5 7Z"
						stroke-linecap="round"
						stroke-linejoin="round"></path><path
						d="M16 20.2426L18.1213 18.1213M18.1213 18.1213L20.2426 16M18.1213 18.1213L16 16M18.1213 18.1213L20.2426 20.2426"
						stroke-linecap="round"
						stroke-linejoin="round"></path></svg
				>
			</div>
			<h3 class="hd-shadow-lite">Custom Playbooks</h3>
			<p class="txt-shadow-lite">
				Feel like Planning Center was designed for someone else’s church? We
				will give you the right combination of workflows and automations to show
				you how to use Planning Center for your specific needs!
			</p>
		</Container>
		<Container className="benefits-container">
			<div class="benefits-icon">
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M20.8 14.2222H3.65383C3.38535 14.2222 3.14955 14.4005 3.07648 14.6589L1.71969 19.4556C1.35863 20.7321 2.31762 22 3.64418 22H20.3558C21.6824 22 22.6414 20.7321 22.2803 19.4556L20.8 14.2222ZM20.8 14.2222V8.11108"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
					</path>
					<path
						d="M3.19995 14.2222V4C3.19995 2.89543 4.09538 2 5.19995 2H12"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
					</path>
					<path d="M11 19L13 19" stroke-linecap="round" stroke-linejoin="round">
					</path>
					<path
						d="M17.6569 4.82837L14.8284 7.6568"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
					</path>
					<path
						d="M20.4853 4.82843C19.7042 5.60948 18.4379 5.60948 17.6569 4.82843C16.8758 4.04738 16.8758 2.78105 17.6569 2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
					</path>
					<path
						d="M14.8284 10.4853C15.6094 9.70427 15.6094 8.43794 14.8284 7.65689C14.0473 6.87584 12.781 6.87584 12 7.65689"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
					</path>
				</svg>
			</div>
			<h3 class="hd-shadow-lite">24/7 Request Portal</h3>
			<p class="txt-shadow-lite">
				Optimizing Planning Center and other church software takes time! Let us
				handle that workload for you with requests completed in under 48 hours.
			</p>
		</Container>
		<Container className="benefits-container">
			<div class="benefits-icon">
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M4 11.4998L3.51493 11.6211C2.62459 11.8437 2 12.6436 2 13.5614V15.4382C2 16.356 2.62459 17.1559 3.51493 17.3785L5.25448 17.8134C5.63317 17.9081 6 17.6217 6 17.2313V11.7683C6 11.3779 5.63317 11.0915 5.25448 11.1862L4 11.4998ZM4 11.4998V11C4 6.58172 7.58172 3 12 3C16.4183 3 20 6.58172 20 11V11.4998M20 11.4998L20.4851 11.6211C21.3754 11.8437 22 12.6436 22 13.5614V15.4382C22 16.356 21.3754 17.1559 20.4851 17.3785L20 17.4998M20 11.4998L18.7455 11.1862C18.3668 11.0915 18 11.3779 18 11.7683V17.2313C18 17.6217 18.3668 17.9081 18.7455 17.8134L20 17.4998M15 20.5H18C19.1046 20.5 20 19.6046 20 18.5V18V17.4998M15 20.5C15 19.6716 14.3284 19 13.5 19H10.5C9.67157 19 9 19.6716 9 20.5C9 21.3284 9.67157 22 10.5 22H13.5C14.3284 22 15 21.3284 15 20.5Z"
					>
					</path>
				</svg>
			</div>
			<h3 class="hd-shadow-lite">Personalized Training</h3>
			<p class="txt-shadow-lite">
				From live, in-person trainings to easy-to-understand how-to articles, we
				ensure your new system is friendly and usable! Everyone on your staff
				has unlimited access to onboarding, training, and support!
			</p>
		</Container>
	</section>
	<section id="what-we-do">
		<Container>
			<h2 class="hd-shadow-lite">What We Do</h2>
			<p id="what-we-do-copy" class="txt-shadow-lite">
				Sunday Ready Solutions specializes in helping churches optimize their
				Planning Center systems so less time is spent on administrative tasks
				leaving more time to minister to their congregation. The membership
				gives you access to powerful tools, including custom playbooks,
				automations, and personalized support— all designed to make your
				church's operations run smoothly.
			</p>
			<div class="card">
				<h4 class="hd-shadow-lite">Sunday-Ready Membership</h4>
				<div class="payment-container">
					<p class="price hd-shadow-lite">$1,499<span>/mo</span></p>
				</div>
				<div class="includes">
					<h5 class="hd-shadow-lite">Includes:</h5>
					<ul class="card-list">
						<li class="txt-shadow-lite">
							<strong>Unlimited Requests</strong> - Submit admin tasks anytime
						</li>
						<li class="txt-shadow-lite">
							<strong>Custom Playbooks</strong> - Tailored workflows for your church
						</li>
						<li class="txt-shadow-lite">
							<strong>Monthly Strategy Calls</strong> - Stay on track with expert
							support
						</li>
						<li class="txt-shadow-lite">
							<strong>Planning Center Optimization</strong> - Custom to your needs
						</li>
						<li class="txt-shadow-lite">
							<strong>No Long-Term Commitment ... Ever</strong>
						</li>
					</ul>
				</div>
				<div class="button-container">
					<Button text="Get Started" action="getStarted" width="100%" />
				</div>
			</div>
			<div id="need-something-more">
				<h3 class="hd-shadow-lite">Need Something More?</h3>
				<p class="txt-shadow-lite">
					In addition to our membership, we also offer one-time services to meet
					your church’s specific needs:
				</p>
			</div>
			<div class="card one-time-offers">
				<div class="svg-container">
					<svg
						stroke-width="1.5"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						color="#000000"
						id="audit-arrow"
						class="closed"
						><path
							d="M6 15L12 9L18 15"
							stroke="#000000"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"></path></svg
					>
				</div>
				<h4 class="hd-shadow-lite">Systems Audit</h4>
				<div id="systems-audit-content" class="hide-content">
					<div class="payment-container">
						<p class="price hd-shadow-lite">$999</p>
						<p class="txt-shadow-lite caption">
							We’ll analyze your current workflows and identify areas for
							improvement to help you get the most out of your tools.
						</p>
					</div>
					<div class="includes">
						<h5 class="hd-shadow-lite">Includes:</h5>
						<ul class="card-list">
							<li class="txt-shadow-lite">
								<strong>Systems Analysis</strong> - Uncover inefficiencies in your
								setup
							</li>
							<li class="txt-shadow-lite">
								<strong>Optimization Plan</strong> - Streamline your church ops
							</li>
							<li class="txt-shadow-lite">
								<strong>Expert Strategy Call</strong> - Hands-on guidance for your
								team
							</li>
							<li class="txt-shadow-lite">
								<strong>One-Time Cost</strong> - Keep everything, no commitment required
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card one-time-offers">
				<div class="svg-container">
					<svg
						stroke-width="1.5"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						color="#000000"
						id="migration-arrow"
						class="closed"
						><path
							d="M6 15L12 9L18 15"
							stroke="#000000"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"></path></svg
					>
				</div>
				<h4 class="hd-shadow-lite">Migrate to Planning Center</h4>
				<div id="migration-content" class="hide-content">
					<div class="payment-container">
						<p class="price hd-shadow-lite">$3,499</p>
						<p class="txt-shadow-lite caption">
							Need to move your data into Planning Center but don’t have the
							time or expertise? We’ll handle the entire migration process, and
							make sure you’re equipped to get the most out of your new system.
						</p>
					</div>
					<div class="includes">
						<h5 class="hd-shadow-lite">Includes:</h5>
						<ul class="card-list">
							<li class="txt-shadow-lite">
								<strong>Full Data Transfer</strong> - Valuable data reliably transferred
							</li>
							<li class="txt-shadow-lite">
								<strong>Optimization Plan</strong> - Tailored workflows for your
								church
							</li>
							<li class="txt-shadow-lite">
								<strong>Expert Strategy Call</strong> - Hands-on guidance for your
								team
							</li>
							<li class="txt-shadow-lite">
								<strong>Expert Strategy Call</strong> - Get up to speed quickly
							</li>
							<li class="txt-shadow-lite">
								<strong>One-Time Cost</strong> - Keep everything, no commitment required
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="button-container">
				<Button
					text="Book A Call Today!"
					action="bookCall"
					buttonStyle="secondary"
				/>
			</div>
		</Container>
	</section>
	<section id="how-it-works">
		<Container>
			<div>
				<h2 class="hd-shadow-lite">Straightforward and Clear</h2>
				<p class="txt-shadow-lite">
					Getting started is easy. Our process gets you up and running quickly!
				</p>
			</div>
			<div class="steps-container">
				<div class="step">
					<div class="number-container">
						<!--?xml version="1.0" encoding="UTF-8"?-->
						<svg
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M3.6 2.25C2.85442 2.25 2.25 2.85441 2.25 3.6V20.4C2.25 21.1456 2.85441 21.75 3.6 21.75H20.4C21.1456 21.75 21.75 21.1456 21.75 20.4V3.6C21.75 2.85442 21.1456 2.25 20.4 2.25H3.6ZM13.75 8C13.75 7.69665 13.5673 7.42318 13.287 7.30709C13.0068 7.191 12.6842 7.25517 12.4697 7.46967L9.46967 10.4697C9.17678 10.7626 9.17678 11.2374 9.46967 11.5303C9.76256 11.8232 10.2374 11.8232 10.5303 11.5303L12.25 9.81066V16C12.25 16.4142 12.5858 16.75 13 16.75C13.4142 16.75 13.75 16.4142 13.75 16V8Z"
							></path></svg
						>
					</div>
					<div class="step-content">
						<h3 class="hd-shadow-lite">Schedule a Consultation</h3>
						<p class="txt-shadow-lite">
							We’ll meet with you to understand your church’s needs and current
							systems to develop and implement a system tailored to your needs.
						</p>
					</div>
				</div>

				<div class="step">
					<div class="number-container">
						<!--?xml version="1.0" encoding="UTF-8"?-->
						<svg
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M3.6 2.25C2.85442 2.25 2.25 2.85441 2.25 3.6V20.4C2.25 21.1456 2.85441 21.75 3.6 21.75H20.4C21.1456 21.75 21.75 21.1456 21.75 20.4V3.6C21.75 2.85442 21.1456 2.25 20.4 2.25H3.6ZM10.25 10.4C10.25 9.46073 10.9749 8.75 11.8077 8.75C12.6405 8.75 13.3654 9.46073 13.3654 10.4C13.3654 10.7213 13.2793 11.0178 13.1324 11.2683C12.67 12.057 11.6782 13.0782 10.7378 13.9441C10.2789 14.3665 9.85144 14.7348 9.53856 14.9976C9.3823 15.1289 9.2551 15.2334 9.16743 15.3047C9.12361 15.3404 9.0897 15.3677 9.06701 15.3859L9.04159 15.4063L9.0355 15.4111L9.03417 15.4122L9.034 15.4123L9.03394 15.4124C8.78395 15.6107 8.68678 15.9454 8.79175 16.2467C8.89672 16.5481 9.18089 16.75 9.5 16.75H14.5C14.9142 16.75 15.25 16.4142 15.25 16C15.25 15.5858 14.9142 15.25 14.5 15.25H11.5319C11.6048 15.1841 11.6789 15.1165 11.7537 15.0476C12.6904 14.1853 13.8383 13.0302 14.4265 12.027C14.7059 11.5504 14.8654 10.9926 14.8654 10.4C14.8654 8.6883 13.5239 7.25 11.8077 7.25C10.0915 7.25 8.75 8.6883 8.75 10.4V10.8C8.75 11.2142 9.08579 11.55 9.5 11.55C9.91421 11.55 10.25 11.2142 10.25 10.8V10.4Z"
							></path></svg
						>
					</div>
					<div class="step-content">
						<h3 class="hd-shadow-lite">Use Your New Playbooks</h3>
						<p class="txt-shadow-lite">
							Your playbooks will be designed specifically for your church using
							custom automations, workflows, templates and proven processes.
						</p>
					</div>
				</div>
				<div class="step">
					<div class="number-container">
						<!--?xml version="1.0" encoding="UTF-8"?-->
						<svg
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M2.25 3.6C2.25 2.85441 2.85442 2.25 3.6 2.25H20.4C21.1456 2.25 21.75 2.85442 21.75 3.6V20.4C21.75 21.1456 21.1456 21.75 20.4 21.75H3.6C2.85441 21.75 2.25 21.1456 2.25 20.4V3.6ZM12 8.75C13.1313 8.75 13.75 9.45717 13.75 10C13.75 10.4191 13.6329 10.7217 13.4616 10.9111C13.3018 11.0877 13.0195 11.25 12.5 11.25C12.0858 11.25 11.75 11.5858 11.75 12C11.75 12.4142 12.0858 12.75 12.5 12.75C13.0195 12.75 13.3018 12.9123 13.4616 13.0889C13.6329 13.2783 13.75 13.5809 13.75 14C13.75 14.5428 13.1313 15.25 12 15.25C10.8687 15.25 10.25 14.5428 10.25 14C10.25 13.5858 9.91421 13.25 9.5 13.25C9.08579 13.25 8.75 13.5858 8.75 14C8.75 15.6663 10.3699 16.75 12 16.75C13.6301 16.75 15.25 15.6663 15.25 14C15.25 13.3145 15.0575 12.6171 14.574 12.0826C14.5484 12.0544 14.5223 12.0269 14.4955 12C14.5223 11.9732 14.5484 11.9456 14.574 11.9174C15.0575 11.3829 15.25 10.6855 15.25 10C15.25 8.33369 13.6301 7.25 12 7.25C10.3699 7.25 8.75 8.33369 8.75 10C8.75 10.4142 9.08579 10.75 9.5 10.75C9.91421 10.75 10.25 10.4142 10.25 10C10.25 9.45717 10.8687 8.75 12 8.75Z"
							></path></svg
						>
					</div>
					<div class="step-content">
						<h3 class="hd-shadow-lite">Submit Requests</h3>
						<p class="txt-shadow-lite">
							From day one, you can submit your Planning Center and other
							administrative tasks through our portal and off your plate!
						</p>
					</div>
				</div>
			</div>
		</Container>
	</section>
	<section id="support">
		<div class="support-icon">
			<!--?xml version="1.0" encoding="UTF-8"?-->
			<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
				><path
					d="M6.67742 20.5673C2.53141 18.0212 0.758026 12.7584 2.71678 8.1439C4.87472 3.0601 10.7453 0.68822 15.8291 2.84617C20.9129 5.00412 23.2848 10.8747 21.1269 15.9585C20.2837 17.945 18.8736 19.5174 17.1651 20.5673"
					stroke-linecap="round"
					stroke-linejoin="round"></path><path
					d="M17 16V20.4C17 20.7314 17.2686 21 17.6 21H22"
					stroke-linecap="round"
					stroke-linejoin="round"></path><path
					d="M12 22.01L12.01 21.9989"
					stroke-linecap="round"
					stroke-linejoin="round"></path></svg
			>
		</div>
		<h2 class="hd-shadow txt-lite">Ongoing Optimization and Support</h2>
		<p class="txt-shadow txt-lite">
			Need adjustments or workshopping a new process? We’ll continue to refine
			your systems and provide training for your team.
		</p>
	</section>
	<section id="cta">
		<div class="card card-portica">
			<h4 class="hd-shadow-lite">Ready to get your church running smoothly?</h4>
			<p class="txt-shadow-lite">
				Schedule your initial consultation today. Our solutions save time,
				reduce burnout, and will make your church’s operations run like
				clockwork!
			</p>
			<div class="button-container">
				<Button
					text="Book A Call!"
					action="bookCall"
					buttonStyle="secondary"
					width="100%"
				/>
			</div>
		</div>
	</section>
	<Footer />
</BaseLayout>
