---
import NewsletterSignUp from "./NewsletterSignUp.astro";

---

<footer>
  <div>
    <h2 class="hd-shadow txt-lite">Get Planning Center tips and tricks right in your inbox!</h2>
    <NewsletterSignUp />
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-teal);
    margin: 0;
    padding: 1rem;
  }


</style>