---

---

<form id="newsletter-sign-up">
  <input id="email-input" placeholder="Email" name="email" type="text" />
  <label for="email-input" style="display: none;">Email</label>
  <input type="submit" />
</form>

<script is:inline>
  document
    .getElementById("newsletter-sign-up")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const userInput = document.getElementById("email-input");

      // validate user input

      // send error messages to ui if necessary

      // send email to Brevo

      // popup a new screen
      console.log(`Email submitted: ${userInput.value}`)
      userInput.value = "";
    });
</script>

<style></style>
