---
const { backgroundColor, id, className } = Astro.props;
---

<div class={`section ${className}`} id={id}>
    <slot />
</div>

<style define:vars={{ backgroundColor }}>
    .section {
        background-color: var(--backgroundColor);
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }
</style>
